<!DOCTYPE html>
<html>
  <head>
    <title>OpenPlayful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Overpass&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script id="bootstrap-current-user" type="text/javascript">
      <% if logged_in? %>
  	    window.currentUser = <%= render("api/users/show.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
    <script type="text/javascript">
      window.logoWhite = "<%= image_url("logo-nospace.png") %>";
      window.letterV = "<%= image_url("V.png") %>";
      window.tempPicture = "<%= image_url("unicorn.png") %>";
      window.goldStars = "<%= image_url("goldStarsDarker.png") %>";
      window.grayStars = "<%= image_url("gray-stars.png") %>";
      window.redStars = "<%= image_url("redstar.png") %>"
    </script>
  </head>
  <body>
 
    <%= yield %>
  </body>
</html>
