<!DOCTYPE html>
<html>
  <head>
    <title>OpenPlayful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Overpass&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script id="bootstrap-current-user" type="text/javascript">
      <% if logged_in? %>
  	    window.currentUser = <%= render("api/users/show.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
    <script type="text/javascript">
      window.logoWhite = "<%= image_url("logo-nospace.png") %>";
      window.letterV = "<%= image_url("V.png") %>";
      window.goldStars = "<%= image_url("goldStarsDarker.png") %>";
      window.grayStars = "<%= image_url("gray-stars.png") %>";
      window.redStars = "<%= image_url("redstar.png") %>"
      window.textBubble = "<%= image_url("textBubble.png") %>"
      window.money = "<%= image_url("money.png") %>"
      window.knifeFork = "<%= image_url("knifeFork.png") %>"
      window.animal ="<%= image_url("animal.png") %>"
      window.arrow ="<%= image_url("down-arrow.png") %>"
      window.graphIcon ="<%= image_url("graphIcon.png") %>"
      window.locationIcon ="<%= image_url("locationIcon.png") %>"
    </script>
  </head>
  <body>
 
    <%= yield %>
  </body>
</html>
